
  .container { 
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 100vw;
  
    background-color: var(--gray-300);
  }
  
  .box {
    display: flex;
    width: 60vw;
   
    flex-direction: column;
    justify-content: center;
    align-items: center; 
   
  }

  .box h1 {
    color: var(--blue-500);
    margin-bottom: 20px;
  }  

  .box p {
    color: var(--black-500);
  }
 

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
  }

  .content {    
    display: flex;         
    flex-wrap: wrap;
    justify-content: center;
  }