.card {
  padding: 1rem;
  width: 30rem; 
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;

  gap: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 1rem 0; 
  gap: 2rem;  
  
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--green-600);
  border-radius: 50%;
  width: 4.3rem;
  height: 4.3rem;
}

.circle img {
  height: 2.5rem;
}

