.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding: 10px;
    margin: 25px;
    
}

.box h1 {
    color: var(--blue-500);
    padding: 1.8rem 0;
}

.box p{
    font-size: 1.4rem;
    justify-content: center;
    color: var(--gray-500);
}

.box > :nth-child(4) {
    padding-bottom: 2rem;
}

.errorimg {
    width: 19rem;
    height: 18rem;
}