.Container {
    padding: 5rem 5rem;    
    background-color: var(--green-500);
    display: flex;
}

.Box {
    display: flex;
    width: 60vw;
    height: auto;
    justify-content: space-between;
    margin: auto;    
}

.Card {
    padding: 0 10px;
    max-width: 6.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 1rem;
    gap: 16px;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--green-600);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.circle img {
    height: 35px;
}

.Box p {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: var(--white);

}