.header{    
    background: var(--white);
    display: flex;    
    justify-content: center;
    align-items: space-between;   
    
    width: 100vw;     

    box-shadow:  0 0 2px  0 rgba(0, 0, 0, 0.5);   
}

.logoTec {
    max-width: 200px;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}

.list {
    display: flex;    
    list-style: none;
    padding: 1.5rem;
}

.item a {
    text-decoration: none;
}
