.menu > li {
    display: inline-block;
}

.menu li {
    position: relative;
    
}

.item {
    display: inline-block;
    text-decoration: none;
    padding: 10px 0.8rem;
    box-sizing: border-box; 
    color: var(--black--600);   

    cursor: pointer;
}

.item:hover{
    font-weight: bold;
}

.submenu {
    position: absolute;
    background-color: var(--white);
    width: 140px;
    left: 0;
    display: none;  
    gap: 10px;  
}



.menu li:hover > .submenu {
    display: block;
}