footer {
    padding: 80px 60px;
    background: var(--black-600);
    position: absolute;
    bottom: 0;    
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fill, 
                           minmax(200px, 1fr));    
    grid-gap: 5px;
    background: var(--black-300);
}

.columm {
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

.heading{
    font-size: 25px;
    color: var(--white);
    margin-bottom: 40px;

}

.footerlink{
    color: var(--white);
    margin-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
}