.header{
    background: var(--white);
    display: flex;    
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem; 

    box-shadow:  0 0 2px  0 rgba(0, 0, 0, 0.5);   
}

.list {
    display: flex;    
    list-style: none;
    padding: 1.5rem;
    gap: 1.2rem;

}

.item a {
    text-decoration: none;
}
