footer {
    padding: 70px 60px;
    background: var(--black-600);
    position: absolute;
    bottom: -1;  
    
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fill, 
                           minmax(200px, 1fr));    
    grid-gap: 5px;
    background: var(--black-300);
}

.columm {
    display: flex;
    flex-direction: column;
    text-align: left;    
}

.heading{
    font: 2rem !important;
    color: var(--white);
    margin: 40px 0;
}

.footerlink{
    color: var(--white);
    margin-bottom: 10px;    
    text-decoration: none;

    transition: 0.2s;
}

.footerlink:hover{
    font-weight: bold;
    color: var(--gray-200);
}

.socialMedia img {
    height: 35px;
    height: 35px;
    margin-right: 5px;
    margin-top: 15px;

    cursor: pointer;

    transition: 0.2s;
}

.socialMedia img:hover {
    height: 40px;
    height: 40px;  
}
