.aboutContainer {
    padding: 80px 60px; 
    height: 300px;
    background-color: var(--green-500);
    display: flex;  
  }
  
  .aboutBox {
    display: flex;
    width: 1000px;  
    justify-content: space-between; 
    margin: auto;
    
  }
  
  .aboutCard {  
    padding: 0 10px;
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
    gap: 16px;
  }
  
  .circle {
    display: flex;
    flex-direction: column; 
    justify-content: center;  
  
    background-color: var(--green-600);
    border-radius: 50%;
    width: 100px;
    height: 100px;  
  }
  
  .circle img{
    height: 35px;
  }
  
  .aboutBox p {  
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: var(--white);
   
  }
  
  .container { 
    padding: 80px 60px;
    display: flex;
    justify-content: center;
    align-items: center;  
  
    background-color: var(--white);
  }
  
  .box {
    display: flex;
    width: 1000px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
  }
  
  .box div {
    display: flex;
    max-width: 450px;
    flex-direction: column;  
    align-items: left;
    
    gap: 20px;  
  }
  
  .box img {
    height: 300px;
    width: 300px;
    margin-right: 20px;
  }
  
  .box h2 {
    color: var(--blue-500);
  }
  
  .box ul {
    list-style: none;
  }
  
  .item {
    position: relative;
    margin: 10px 0;
  }
  
  
  .servicesContainer{
    padding: 80px 60px; 
    height: 300px;
    background-color: var(--gray-300);
    display: flex;  
  }
  
  .servicesBox {
    display: flex;
    flex-direction: column;
    width: 1000px;  
    text-align: center;  
    margin: auto;
    gap: 20px;
  
  }
  
  .servicesBox h2 {
    color: var(--blue-500);
  }