.card {     
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width:12rem;
    height: 12rem; 

    margin: 0.5rem 0;
  
    background-color: var(--green-500);
  }
  
  .box img {
    width: 7rem;
    height: 6rem;
  }